{
  "extends": "airbnb-base",
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2017,
    "requireConfigFile": false
  },
  "env": {
    "es6": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".mjs"]
      }
    }
  },
  "rules": {
    "no-param-reassign": "off",
    "no-console": "warn",
    "no-plusplus": "off",
    "no-continue": "off",
    "no-restricted-syntax": "off",
    "radix": "off"
  }
}
